.loginNav {
  display: flex;
}
.loginAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 10px;
}
.logoutBtn {
  border: none;
  border-radius: 4px;
}
.loginTitle {
  display: block;
  margin-top: 20px;
  margin-right: 10px;
}
.NavBar {
  display: flex;
  margin-bottom: 50px;
}
.navLi {
  margin-bottom: 20px;
}
.NavLinkActive {
  color: coral;
  border-radius: 4px;
}
.NavLinkActive img {
  color: coral;
  fill: coral;
  border-radius: 4px;
}
.NavLink {
  display: flex;
  padding: 10px;
  outline: none;
}
.NavLink:hover {
  color: coral;
}
.MainBar {
  display: flex;
  flex-direction: column;
}

@media (min-width: 320px) and (max-width: 767px) {
  .MainHeaderWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  .MainPageImageWrapperForMobile {
    display: block;
  }
  .MenuContainer {
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .MainHeaderWrapper {
    margin-top: 20px;
    margin-right: 40px;
  }
  .MainPageImageWrapperForMobile {
    display: none;
  }
  .MenuContainer {
    display: flex;
    margin-right: 10%;
  }
}
@media screen and (min-width: 1200px) {
  .MainHeaderWrapper {
    margin-right: 25px;
  }
  .MainPageImageWrapperForMobile {
    display: none;
  }
  .MenuContainer {
    display: flex;
    margin-right: 10%;
  }
}
.menuIcon {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  margin-right: 10px;
  color: lightsteelblue;
  cursor: pointer;
}
/* svg path:hover {
  color: coral;
  fill: coral;
} */
svg:hover {
  color: coral;
  fill: coral;
}
