.chatContainer {
  display: block;
  background-color: ghostwhite;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .chatContainer {
    margin-left: 100px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.chatHeader {
  display: flex;
  align-items: baseline;
}
.chatWelcome {
  font-family: "Franklin Gothic Medium";
}
@media screen and (max-width: 1199px) {
  .chatContainer {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .chatContainer {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .chatContainer {
    padding-left: 50px;
  }
}
.d2 h3:before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  left: 0;
  right: 0;
  height: 6px;
  border-top: 2px solid #bbc9c9;
  border-bottom: 2px solid #bbc9c9;
  z-index: -1;
}
.d2 span {
  background: white;
  padding: 0 20px;
}
