.counter {
  font-size: 12px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #4682b4;
  position: absolute;
  left: 75%;
  top: -10%;
  text-align: center;
}
.hidden {
    display: none;
  }
