.counter {
  font-size: 12px;
  padding: 3px;
  min-width: 20px;
  border-radius: 50%;
  position: absolute;
  left: 75%;
  top: -10%;
  text-align: center;
  background-color: coral;
  color: white;
}
.hidden {
  display: none;
}
