.ChatListElement {
  display: block;
  text-align: center;
  margin: 0 auto;

  border-radius: 4px;
  margin-top: 20px;
  padding: 10px;

  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  background-color: rgb(214, 240, 208);
  font-family: "Franklin Gothic Medium";
  font-size: 16px;
  color: gray;
}
@media screen and (max-width: 1199px) {
  .ChatListElement {
    min-width: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .ChatListElement {
    width: 90px;
  }
}
.ChatListTitle {
  display: block;
  /* background-color: lightsteelblue; */
  color: rgb(140, 175, 207);
  text-align: center;
  font-family: "Franklin Gothic Medium";
  /* color: whitesmoke; */
}
@media screen and (max-width: 1199px) {
  .ChatListTitle {
    font-size: 12px;
    padding-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .ChatListTitle {
    margin-bottom: 25px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

.ChatListWrapper {
  background-color: ghostwhite;
  border-radius: 5px;
}

@media screen and (min-width: 1200px) {
  .ChatListWrapper {
    padding: 20px;
    margin-left: 50px;
  }
  .ChatListUl {
    overflow-y: scroll;
    max-height: 500px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .ChatListUl {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  .ChatListUl::-webkit-scrollbar:horizontal {
    height: 6px;
  }
  .ChatListUl li {
    margin-right: 10px;
  }
  .ChatListUl li span {
    font-size: 12px;
  }
  .ChatListWrapper {
    margin-bottom: 10px;
  }
  .ChatListElement {
    padding: 5px;
  }
}

.scrollbar {
  background: #fff;
  overflow-y: scroll;
}

.scrollbarFrozenDreams::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbarFrozenDreams::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.scrollbarFrozenDreams::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#fdcbf1),
    color-stop(1%, #fdcbf1),
    to(#e6dee9)
  );
  background-image: -webkit-linear-gradient(
    bottom,
    #7f97da 0%,
    #7f97da 1%,
    #e6dee9 100%
  );
  background-image: linear-gradient(
    to top,
    #b4ecdb 0%,
    #b4ecdb 1%,
    #e6dee9 100%
  );
}
