.ChatListElement {
  display: block;
  text-align: center;
  margin: 0 auto;

  border-radius: 4px;
  margin-top: 20px;
  padding: 10px;

  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  background-color: rgb(214, 240, 208);
  font-family: "Franklin Gothic Medium";
  font-size: 16px;
  color: gray;
}
@media screen and (max-width: 1199px) {
  .ChatListElement {
    min-width: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .ChatListElement {
    width: 90px;
  }
}
.ChatListTitle {
  display: block;
  background-color: lightsteelblue;
  text-align: center;
  font-family: "Franklin Gothic Medium";
  font-size: 20px;
  color: whitesmoke;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 40px;
  padding-left: 40px;
}
.ChatListWrapper {
  padding: 20px;
}

@media screen and (max-width: 1199px) {
  .ChatListUl {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .ChatListUl li {
    margin-right: 10px;
  }
  .ChatListUl li span {
    font-size: 12px;
  }
}
