@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");

.Logo {
  font-family: "Chilanka", cursive;
}

@media (min-width: 320px) and (max-width: 767px) {
  .Logo {
    font-size: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .Logo {
    font-size: 46px;
  }
}
