.formLabel {
  margin-right: 10px;
  display: flex;
  flex-flow: column wrap;
}
.contactInput {
  margin-left: 10px;
  border: 1px solid rgb(179, 197, 214);
  border-radius: 4px;
  padding: 12px 20px;
}
.contactInput:focus {
  border: none;
  outline: 0;
  outline-offset: 0;
  box-shadow: 0 0 0 2px rgb(255, 184, 158) inset, 0 0 0 4px white inset;
}
.contactAddBtn {
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.contactFormTitle {
  margin-top: 20px;
  margin-bottom: 7px;

  text-align: left;
  padding-left: 10px;

  font-family: "Franklin Gothic Medium";
  font-size: 15px;
  color: rgb(140, 175, 207);
}
.contactBtn {
  display: block;
  text-align: center;
  width: 80px;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin: 20px 0px 20px 20px;
  padding: 10px;

  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  background-color: white;
  cursor: pointer;
}
.contactBtn:hover {
  box-shadow: 0 0 40px 40px rgb(255, 184, 158) inset;
  color: white;
}
.formRegContainer {
  padding: 25px 50px 25px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(179, 197, 214);
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .formRegContainer {
    margin-top: 20px;
  }
}
.reveralButton {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  background-image: url("../../img/passwordReveal.png");
  margin-left: -31px;
  margin-top: 14px;
  position: absolute;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  background-size: cover;
  background-color: none;
  opacity: 0.7;
}
.hideButton {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  background-image: url("../../img/passwordHide.png");
  margin-left: -31px;
  margin-top: 14px;
  position: absolute;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  background-size: cover;
  background-color: none;
  opacity: 0.7;
}
