@media (min-width: 320px) and (max-width: 767px) {
  .ChatListWrapper {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .ChatListWrapper {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
  }
  .headerContainer {
    margin-left: 20px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .ChatListWrapper {
    display: flex;
    margin-top: 50px;
  }
  .headerContainer {
    margin-left: 50px;
  }
}
.headerContainer {
  display: flex;
  align-items: center;
}
